version: "3.8"

services:

  postgres:
    image: postgres:15
    container_name: knowledge_base_db
    environment:
      POSTGRES_DB: notedb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
    ports:
      - "9090:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: unless-stopped

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.11.1
    container_name: knowledge_base_elastic
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - ES_JAVA_OPTS=-Xms512m -Xmx512m
    ports:
      - "9200:9200"
    volumes:
      - esdata:/usr/share/elasticsearch/data
    restart: unless-stopped

  api:
    container_name: knowledge_base_api
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - postgres
      - elasticsearch
    environment:
      ASPNETCORE_ENVIRONMENT: Development

      ConnectionStrings__DefaultConnection: >
        Host=postgres;
        Port=5432;
        Database=notedb;
        Username=postgres;
        Password=admin

      Elastic__Url: http://elasticsearch:9200

    ports:
      - "5050:8080"
    restart: unless-stopped


volumes:
  pgdata:
  esdata:
